
{% liquid
  assign block_settings = block.settings
  assign collection = closest.collection
  
  if collection != blank
    assign description = collection.description
  else
    assign description = 'This is a sample collection description. It can be quite long and will be truncated with a read more link when it exceeds the specified character limit.'
  endif
  
  assign truncate_length = block_settings.truncate_length | default: 150
  assign show_read_more = false
  
  if description != blank
    assign description_stripped = description | strip_html | strip
    if description_stripped.size > truncate_length
      assign show_read_more = true
      assign truncated_text = description_stripped | truncate: truncate_length
    else
      assign truncated_text = description_stripped
    endif
  endif
%}

{% if description != blank %}
  <collection-description
    class="collection-description spacing-style"
    style="{% render 'spacing-padding', settings: block_settings %}"
    {{ block.shopify_attributes }}
    data-truncate-length="{{ truncate_length }}"
  >
    <div
      class="collection-description__content rte"
      ref="showMoreContent"
    >
      <div class="collection-description__text">
        {{ description }}
      </div>
    </div>
    
    {% if show_read_more %}
      <button
        type="button"
        class="collection-description__toggle button button-unstyled"
        ref="showMoreButton"
        on:click="/toggle"
        aria-expanded="false"
      >
        <span class="collection-description__read-more">Read more</span>
        <span class="collection-description__read-less hidden">Read less</span>
      </button>
    {% endif %}
  </collection-description>
{% endif %}

{% stylesheet %}
  .collection-description {
    width: 100%;
    max-width: 100%;
  }

  .collection-description__content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .collection-description__content[data-collapsed="true"] {
    max-height: var(--collapsed-height, 200px);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
  }

  .collection-description__content[data-collapsed="false"] {
    max-height: none;
    -webkit-mask-image: none;
    mask-image: none;
  }

  .collection-description__text {
    line-height: 1.6;
  }

  .collection-description__toggle {
    margin-top: var(--padding-sm);
    color: var(--color-primary, var(--color-foreground));
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    background: none;
    border: none;
  }

  .collection-description__toggle:hover {
    opacity: 0.8;
  }

  .collection-description__read-less {
    display: none;
  }

  .collection-description[data-expanded="true"] .collection-description__read-more {
    display: none;
  }

  .collection-description[data-expanded="true"] .collection-description__read-less {
    display: inline;
  }
{% endstylesheet %}

<script
  src="{{ 'collection-description.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% schema %}
{
  "name": "Collection Description",
  "tag": "collection-description",
  "settings": [
    {
      "type": "range",
      "id": "truncate_length",
      "label": "Truncate Length",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "characters",
      "default": 150,
      "info": "Number of characters to show before truncating"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "Left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "Right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Collection Description",
      "category": "Collection"
    }
  ]
}
{% endschema %}

